<%- include('partials/header') -%>

    <h3><%= title %></h3>
    <p><%= content %></p>
    <p class="username"> ~ <%= postBy %></p>

    <a href="/" class="btn">Home</a>
    
<%- include('partials/footer') -%>