<%- include('partials/header') -%>

    <h3><%= title %></h3>
    <p class="post-content"><%= content %></p>
    <p class="username"> ~ <%= postBy.length === 0 ? 'Anonymous' : postBy %></p>

    <a href="/" class="btn">Home</a>
    
<%- include('partials/footer') -%>